.navbar {
    width: 100%;
    height: 70px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 14px 5px rgb(20 20 20 / 10%);
}

.brandName p {
    color: #4a4541;
    font-size: 30px;
    font-weight: 600;
}

.brandName p:hover {
    color: #0E2737;
    transition: 0.8s;
}

.brandName a {
    text-decoration: none;
}

.tabs {
    width: 30%;
}

.tabs ul {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.tabs ul li {
    color: #0E2737;
    list-style-type: none;
}

.tabItem a {
    text-decoration: none;
}

.tabItem {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.login {
    width: 150px;
    height: 40px;
    background-color: #0E2737;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login p {
    color: white;
    font-weight: 500;
}

.login:hover {
    cursor: pointer;
}