.screenView {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalView {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    outline: none;
}

.closeIconView {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.closeIconView:hover {
    cursor: pointer;
}

.modalTitle {
    width: 100%;
    height: 80px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}

.input {
    margin: 5px 0px;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
}

.modalTitle p {
    font-size: 14px;
    color: red;
}

.loginBtn {
    width: 30%;
    height: 40px;
    background-color: #0e2737;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 5px 0px;
}

.loginBtn:hover {
    cursor: pointer;
}

.loginBtn p {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.registerMsg p {
    color: blue;
    margin: 10px auto;
}

.registerMsg p:hover {
    color: #0e2737;
    transition: 1s;
    cursor: pointer;
}